.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 385px;
  border: none;
}

.form__input {
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  margin-bottom: 32px;
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button:hover {
  opacity: 70%;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  max-width: 385px;
  width: 100%;
  justify-content: center;
}
.form__checkbox {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.form__label_margin-bottom {
  margin: 0;
  margin-left: 12px;
}
